<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Signup</h1>
          <h6>Register Yourself !!</h6>
        </div>
        <form [formGroup]="signupForm">
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="fullName" formControlName="fullName">
            </div>

            <div class="mb-3">
              <label for="mobileNumber" class="form-label">Mobile No.</label>
              <input type="number" class="form-control" id="mobileNumber" formControlName="mobileNumber">
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" formControlName="email">
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>

            <button type="submit" class="btn btn-primary" (click)="signUp()">Sign Up</button>
        </form>
        <a style="margin-top:10px;text-decoration: none;" routerLink="/login">Already registered? Click to login !!</a>

      </div>
    </div>
  </div>
</div>
